.legend
	| Penetrated by:
	ul
		li.all everyone
		li.cl some light cruisers/destroyers without IFHE
		li.ca some heavy cruisers without IFHE and/or light cruisers/destroyers with IFHE
		li.none heavy cruisers with IFHE and larger
