table.penlist
	tr
		th Ship
		th HE
		th IFHE
		th SAP
	- const ordered = Object.values(pens).sort((pen1, pen2) => Math.max(pen2.ammos.he ?? 0, pen2.ammos.sap ?? 0) - Math.max(pen1.ammos.he ?? 0, pen1.ammos.sap ?? 0))
	each pen in ordered
		tr
			td #{ pen.ship.label }
			each ammo in [ 'he', 'ifhe', 'sap' ]
				td(class=pen.ammos[ammo] ? '' : 'empty')
					if pen.ammos[ammo]
						| #{ Math.floor(pen.ammos[ammo]) }
						span.unit mm
					else 
						| -
