@use '../colors';
@use '../fontsizes';
@use 'sass:map';

@mixin classMargin {
	$border-width: 0.5ch;
	$padding: 1.5ch;
	@if option("hideSidebars") {
		$border-width: 0;
		$padding: 0;
	}
	&.ally { border-left: $border-width solid; padding-left: $padding; }
	&.enemy { border-right: $border-width solid; padding-right: $padding; }
	&.aircarrier { border-color: colors.$aircarrier; }
	&.battleship { border-color: colors.$battleship; }
	&.cruiser {	border-color: colors.$cruiser; }
	&.destroyer { border-color: colors.$destroyer; }
	&.submarine { border-color: colors.$submarine; }
}	

table {
	width: 100%;
	table-layout: fixed;
	// Set font-weight and -size specifically.
	// Otherwise Firefox's default styling screws us over.
	// See https://stackoverflow.com/questions/3388705/why-is-a-table-not-using-the-body-font-size-even-though-i-havent-set-the-table
	font-weight: inherit;
	font-size: inherit;
}

col {
	&.name {
		width: 34%;
	}
	&.winrate {
		width: 16%;
	}
}

td {
	@include classMargin;

	text-align: center;
	padding-top: 0.33ex;
	padding-bottom: 0.33ex;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:first-of-type {
		text-align: left;
	}
	&.player {
		color: colors.$player;
		font-weight: 600;
	}

	&:last-of-type {
		text-align: right;
	}

	.secondary {
		font-size: fontsizes.$small;
		font-style: italic;
	}	
}

.ship {
	display: flex;
	flex-direction: row;
	column-gap: 1ch;
	justify-content: flex-start;
	align-items: center;

	&::before {
		font-family: 'quartersbrief-icons';
		color: colors.$aside;
	}

	$classes: (
		'aircarrier': 'A',
		'battleship': 'B',
		'cruiser': 'C',
		'destroyer': 'D',
		'submarine': 'E'
	);
	@each $class, $glyph in $classes {
		.#{$class} &::before {
			content: $glyph;
			color: map.get(colors.$by-class, $class);
		} 
	}
	
	td.enemy & {
		flex-direction: row-reverse;
		&::before {
			transform: rotate(180deg);
		}
	}
}

aside.details .ship {
	font-size: fontsizes.$small;
	color: black;
	font-weight: normal;
}

.winrate {	
	font-weight: 600;
	font-size: fontsizes.$large;
}

.battles {
	font-size: fontsizes.$verysmall;
	text-align: center;
}

.notification {
	color: colors.$aside;
	font-style: italic;
	font-size: fontsizes.$small;
}

.superunicum {
	color: #a00dc5;
}

.unicum {
	color: #d042f3;
}

.great {
	color: #02c9b3;
}

.verygood {
	color: #318000;
}

.good {
	color: #44b300;
}

.average {
	color: #ffc71f;
}

.belowaverage {
	color: #fe7903;
}

.bad {
	color: #fe0e00;
}