@use '../colors';

// The effect that makes the bar appear lighter at the start
$bareffect: linear-gradient(to right, #f0f0f0, transparent 2.5em);

// A line in the ship graph
.ship {
	white-space: nowrap;
}

// The colored bar visualizing the ship's concealment
.shipbar {
	display: inline-block;
	padding: 4pt 1.5em;
	margin: 2pt;
	background-image: $bareffect;
}

// The bar for an enemy ship
.shipbar.enemy {
	background-color: colors.$enemy;
}

// The bar for an allied ship
.shipbar.ally {
	background-color: colors.$ally;
}

// The bar for a ship that appears both on the allied and on the enemy team
.shipbar.ally.enemy {
	background: 
		$bareffect,
		linear-gradient(20deg, colors.$ally 30%, colors.$enemy 70%)
}

// The bar for the player's ship
.shipbar.player {
	background-color: colors.$player;
	color: black;
}

// The ship's label (human-readable name)
.label {
	text-align: right;
	color: white;
}

// The ship's concealment value
.value {
}
