$zoom: 0.496;

.hydro {
	fill: transparent;
	stroke: cornflowerblue;
	stroke-width: $zoom;
}

.label {
	position: absolute;
	white-space: nowrap;
}

.ship {
	background-color: white;
}

.ally {
	color: $background-color-ally;
}

// By having .enemy after .ally, ships that are both will be displayed as enemy
.enemy {
	color: $background-color-enemy;	
}

.axis {	
	stroke: black;
	stroke-width: $zoom;
	
	text {
		text-anchor: middle;
		dominant-baseline: hanging;
		fill: black;
		stroke: none;
		font-size: calc($small * $zoom);
	}
}

.no-hydros {
	color: slategray;
	font-size: 12pt;
}