<?xml version='1.0' encoding='UTF-8'?>
<Wix
	xmlns='http://schemas.microsoft.com/wix/2006/wi'
	xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
>
	<Fragment>
		<Property Id='APPLICATIONFOLDER'>
			<RegistrySearch 
				Id='ApplicationFolder' 
				Root='HKLM' 
				Key='Software\[ProductName]' 
				Name='InstallDir' 
				Type='directory' 
				Win64='yes'/>
		</Property>
				
		<SetProperty Id='NODE_MODULES_DIRECTORY' Value='[APPLICATIONFOLDER]node_modules\' Before='CostInitialize'>
			<!-- DON'T remove folder during an upgrade -->
			<![CDATA[(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")]]>
		</SetProperty>

		<SetProperty Id='QUARTERSBRIEF_DATA_DIRECTORY' Value='[CommonAppDataFolder][ProductName]\Data\' Before='CostInitialize'>
			<!-- DON'T remove folder during an upgrade -->
			<![CDATA[(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")]]>
		</SetProperty>

		<SetProperty Id='QUARTERSBRIEF_CACHE_DIRECTORY' Value='[CommonAppDataFolder][ProductName]\Cache\' Before='CostInitialize'>
			<!-- DON'T remove folder during an upgrade -->
			<![CDATA[(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")]]>
		</SetProperty>

		<Component Id='RemoveFolders' Guid='*' Directory='INSTALLDIR'>
			<!-- Remove node_modules sub folder in install directory -->
			<!-- NODE_MODULES_FOLDER will not be set in an upgrade, so RemoveFolderEx will do nothing. -->
			<util:RemoveFolderEx Property='NODE_MODULES_DIRECTORY' On='uninstall'/>

			<!-- Remove Data and Cache sub folders in CommonAppData\Quartersbrief directory -->
			<!-- Properties will not be set in an upgrade, so RemoveFolderEx will do nothing. -->
			<util:RemoveFolderEx Property='QUARTERSBRIEF_DATA_DIRECTORY' On='uninstall'/>
			<util:RemoveFolderEx Property='QUARTERSBRIEF_CACHE_DIRECTORY' On='uninstall'/>

			<!-- Remove main installation directory now, but only if it is empty. -->
			<!-- That's why we're using RemoveFolder instead of RemoveFolderEx here. -->
			<!-- This folder will theoretically be removed even during upgrades, but in reality the existence of the
				 node_modules sub folder will usually prevent it. -->
			<RemoveFolder Id='RemoveMainFolder' Property='APPLICATIONFOLDER' On='uninstall'/>

			<!-- Remove the Quartersbrief common app data  directory now if it is empty. -->
			<RemoveFolder Id='RemoveQuartersbriefCommonAppData' Directory='QuartersbriefCommonAppData' On='uninstall'/>
			
			<RegistryValue 
				Root='HKLM' 
				Key='Software\[ProductName]' 
				Name='InstallDir' 
				Type='string' 
				Value='[INSTALLDIR]' 
				KeyPath='yes'/>
		</Component>
	</Fragment>
</Wix>