@use '../colors';
@use '../fontsizes';
@use 'sass:selector';
@use 'details';

$unit-light: #e8e8e8;

.content {
	display: flex;
	flex-direction: column;
	row-gap: 2ex;
}

.ship {	
	display: flex;
	align-items: center;

	.label {
		white-space: nowrap;
		// Do not grow. Do not shrink. Base width is clamp(6ch, 15%, 15ch).
		flex: 0 0 clamp(6ch, 18%, 15ch);
		overflow-x: hidden;
		text-overflow: ellipsis;
		padding-right: 0.5ch;
	}

	.diagram {
		// Do not grow. Do not shrink. Base width is auto.
		flex: 1 0 0;
		white-space: nowrap;
		display: flex;
		align-items: center;
	}

	.warnings {
		$symbol-spacing: 3pt;

		flex: 0 0 2em;
		// Write from top to bottom, but don't change character orientation
		writing-mode: vertical-lr;
		text-orientation: upright;

		letter-spacing: $symbol-spacing;
		line-height: calc(100% + $symbol-spacing);
		max-height: 4em;
		
		// Allow line breaks
		white-space: normal;
		// Allow soft wrap opportunities around every typographic character unit disregarding any prohibition against line breaks
		// Normally, some of the symbol characters we are using otherwise prohibit line breaks
		line-break: anywhere;
		
		cursor: default;

		font-family: "dripicons-v2";
		.moderate {
			color: colors.$warning-moderate;
		}
		.severe {
			color: colors.$warning-severe;
		}
	}
}

.shipbar {
	$vertical-padding: 2pt;

	padding: $vertical-padding 0;
	color: white;
	display: flex;
	// Layout in reverse row direction to make sure the range is always right-aligned, even if both tubes and speed effect are hidden
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;

	flex: 0 0 auto;

	.tubes {
		margin-left: 0.25ch;
	}

	.range {
		// Prevent range from being covered by the explosion circle
		z-index: 1;
	}

	.speed {
		text-align: center;	
		color: black;
		font-size: fontsizes.$small;	
		align-self: stretch;
		margin: -$vertical-padding 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hidden {
		display: none;
	}
}

.explosion {
	flex: 0 0 auto;
	// Make the height match the width:
	// Currently commented out because the old chromium version (79) of the Steam overlay can't understand this
	// aspect-ratio: 1/1;
	// Make it a circle:
	border-radius: 50%;		
	// Move center to range bar's end:
	transform: translateX(-50%);
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

// Make the units on range and damage (but not speed) a lighter color for allies and enemies, but not the player
#{selector.nest('.ally, .enemy', '&:not(.player)', '.range, .explosion', '.unit')} {
	color: $unit-light;	
}

.ally { 
	.shipbar, .explosion {
		background-color: colors.$ally; 
	}
}
.enemy  { 
	.shipbar, .explosion {
		background-color: colors.$enemy; 
	}
}
.ally.enemy {
	.shipbar { 
		background-image: linear-gradient(20deg, colors.$ally 30%, colors.$enemy 70%); 
	}
}
.player , .player.enemy {
	.shipbar, .explosion {
		background-color: colors.$player; 
		background-image: none;
		color: black;
	}
	// Always make the player's ship come last
	order: 20;
}

