@use '../colors';

aside.details {
	&.all {
		--details-border-color: #{colors.$warning-severe};

	}
	&.some {
		--details-border-color: #{colors.$warning-moderate};
	}
	&.none {
		--details-border-color: #{colors.$warning-neutral};
	}
}
.details-line.overmatchers {
	display: block;
}
.details-line.overmatchers > ul {	
	text-align: left;
	padding: 0;
	margin: 0;
	margin-left: 3ch;
	list-style: none;

	li {
		display: flex;
		justify-content: space-between;

		.overmatch {
			color: colors.$warning-severe;
		}
		.no-overmatch {
			color: colors.$warning-favorable;
		}
	}
}