.gunlist {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	h4 {
		font-weight: normal;
		text-decoration: underline;
		text-align: center;
		margin: 2rem 0;
	}

	td {
		padding: 0.5ex 0;
		padding-right: 1em;

		&:last-of-type {
			padding-right: 0;
		}
	}

	td.label {
		max-width: 15ch;
		text-overflow: ellipsis;
		overflow-x: hidden;
		text-align: left;
	}

	td.value {
		text-align: right;
	}
}