@use 'sass:color';
@use '../colors';
@use '../fontsizes';
@use 'details';
@use 'legend';

.piece {
	$lightness: 66%;

	stroke-width: 0.2%;

	&.all {
		stroke: colors.$warning-severe;
		fill: colors.$warning-severe-light;
	}
	&.some {
		stroke: colors.$warning-moderate;
		fill: colors.$warning-moderate-light;
	}
	&.none {
		stroke: colors.$warning-neutral;
		fill: colors.$warning-neutral-light;
	}
}

.gunlist {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	table {
		border-spacing: 1em 1ex;
	}

	h4 {
		font-weight: normal;
		text-decoration: underline;
		text-align: center;
		margin: 2rem 0;
	}

	td.label {
		color: colors.$enemy;
		max-width: 15ch;
		text-overflow: ellipsis;
		overflow-x: hidden;
		text-align: left;
	}

	td.value {
		text-align: right;
	}
}