@use 'sass:color';
@use '../colors';
@use '../fontsizes';
@use 'details';
@use 'legend';
@use 'gunlist';


.piece {
	$lightness: 66%;
	fill-rule: evenodd;

	stroke-width: 0.2%;

	&.all {
		stroke: colors.$warning-severe;
		fill: colors.$warning-severe-light;
	}
	&.some {
		stroke: colors.$warning-moderate;
		fill: colors.$warning-moderate-light;
	}
	&.none {
		stroke: colors.$warning-neutral;
		fill: colors.$warning-neutral-light;
	}
}