@use "sass:color";

$ally: hsl(170deg,50%,50%);
$enemy: hsl(0deg,65%,50%);
$player: #fbd770;
$neutral: cornflowerblue;

$aircarrier: #555756;
$battleship: #acb0ae;
$cruiser: #bdc6e4;
$destroyer: #d7e6dc;
$submarine: #e6d0b8;

$aside: slategray;
$minor: lightgray;

$warning-moderate: goldenrod;
$warning-severe: red;
$warning: $warning-moderate;

$highlighted: fuchsia;