@use "sass:color";

// Colors for team affiliation
$ally: hsl(170deg,50%,50%);
$enemy: hsl(0deg,65%,50%);
$player: #fbd770;
$neutral: cornflowerblue;

// Colors for ship classes. For BB, CL/CA and DD these conform to the colors used in the game's loading screen silhouettes, albeit a little darker
$class-lightness-adjust: -15%;
$aircarrier: color.scale(#555756, $lightness: $class-lightness-adjust);
$battleship: color.scale(#acb0ae, $lightness: $class-lightness-adjust);
$cruiser: color.scale(#bdc6e4, $lightness: $class-lightness-adjust);
$destroyer: color.scale(#d7e6dc, $lightness: $class-lightness-adjust);
$submarine: color.scale(#e6d0b8, $lightness: $class-lightness-adjust);
$by-class: (
	'aircarrier' :$aircarrier,
	'battleship': $battleship,
	'cruiser': $cruiser,
	'destroyer': $destroyer,
	'submarine': $submarine
);

// Colors for styling secondary and tertiary information
$aside: slategray;
$minor: lightgray;

// Colors for different levels of warning or attention grabbers
$warning-moderate: goldenrod;
$warning-severe: red;
$warning: $warning-moderate;
$warning-neutral: $neutral;
$warning-favorable: green;

// Lighter variants of the warning colors, useful for styling larger areas that would otherwise become too harsh
$_lightness: 66%; // module-private variable
$warning-severe-light: color.scale($warning-severe, $lightness: $_lightness);
$warning-moderate-light: color.scale($warning-moderate, $lightness: $_lightness);
$warning-neutral-light: color.scale($warning-neutral, $lightness: $_lightness);
$warning-favorable-light: color.scale($warning-favorable, $lightness: $_lightness);

// Color to use for mouse-over highlighting
$highlighted: fuchsia;

@mixin teamcolor-background {
	$teamcolor-gradient-direction-default: 20deg;
	$teamcolor-gradient-start-default: 30%;
	$teamcolor-gradient-end-default: 70%;

	.ally & { 
		color: white;
		background: $ally; 
	}
	.enemy & { 
		color: white;
		background: $enemy; 
	}
	.enemy.ally & { 
		color: white;
		background: linear-gradient(
				var(--teamcolor-gradient-direction, $teamcolor-gradient-direction-default), 
				$ally var(--teamcolor-gradient-start, $teamcolor-gradient-start-default),
				$enemy var(--teamcolor-gradient-end, $teamcolor-gradient-end-default));		
	}
	.player &, .player.enemy.ally & {
		color: black;
		background: $player;
	}
}

@mixin teamcolor-text {
	$teamcolor-gradient-direction-default: 20deg;
	$teamcolor-gradient-start-default: 30%;
	$teamcolor-gradient-end-default: 70%;

	&.ally { 
		color: $ally; 
	}
	&.enemy { 
		color: $enemy; 
	}
	&.enemy.ally { 
		color: transparent;
		background-image: linear-gradient(to right, $ally 30%, $enemy 50%);
		background-clip: text;
		-webkit-background-clip: text;
	}
	&.player, &.player.enemy.ally {
		color: $player;
	}
}