block briefing	
	each topic, index in topics
		.topic(id = `topic-${index}`)
			//- Need to use !{} here instead of #{} to prevent the pug engine from escaping HTML tags
			//- See https://pugjs.org/language/interpolation.html#string-interpolation-unescaped
			| !{topic}