@use 'topics/colors';
@use 'topics/fontsizes';

.unit {
	color: #757575;
	font-size: fontsizes.$small;
}

aside.details {
	padding: 0.5em;
	color: black;
	background-color: white;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
	z-index: 1000;
	display: none;

	&.ally {
		border-color: colors.$ally;
	}
	&.enemy {
		border-color: colors.$enemy;
	}
	&.player {
		border-color: colors.$player;
	}

	.details-title {
		font-weight: bold;
		margin-bottom: 2ex;
	}

	&.ally .details-title {
		color: colors.$ally;
	}
	&.enemy .details-title {
		color: colors.$enemy;
	}
	
	&.player .details-title {
		color: colors.$player;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		white-space: nowrap;
		
		&:not(:last-of-type) {
			margin-bottom: 0.5ex;
		}

		// These two lines take care of justifying captions to the left and values to the right:
		display: flex;
		justify-content: space-between;

		span.caption {
			margin-right: 1ch;
		}

		span.value {
			text-align: right;
		}
	}	

	hr {
		border: none;
		border-top: 0.5px solid colors.$aside;
	}
}

aside.details[data-show] {
	display: block;
}