@use 'topics/colors';
@use 'topics/fontsizes';
@use 'sass:math';

.unit {
	color: #757575;
	font-size: fontsizes.$small;
}

.topic-content.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33vh;

	.spinner {
		font-family: 'dripicons-v2';
		font-size: 50px;
		color: lightgray;
		width: fit-content;
		animation: 3s infinite normal spin;
	}
}

@keyframes spin {
	@for $stop from 0 through 5 {
		#{20%*$stop} { transform: rotate($stop * math.div(180deg,5))}
	}
}

aside.details {
	padding: 0.5em;
	color: black;
	background-color: white;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
	z-index: 9999;
	display: none;
	text-align: left;

	&.ally {
		border-color: colors.$ally;
		box-shadow: 0 0 5px colors.$ally;
	}
	&.enemy {
		border-color: colors.$enemy;
		box-shadow: 0 0 5px colors.$enemy;
	}
	&.player {
		border-color: colors.$player;
		box-shadow: 0 0 5px colors.$player;
	}

	.details-title {
		font-weight: bold;
		margin-bottom: 2ex;
	}

	&.ally .details-title {
		color: colors.$ally;
	}
	&.enemy .details-title {
		color: colors.$enemy;
	}
	
	&.player .details-title {
		color: colors.$player;
	}

	.details-line {
		white-space: nowrap;
		column-gap: 2em;
		
		&:not(:last-of-type) {
			margin-bottom: 0.5ex;
		}

		// These two lines take care of justifying captions to the left and values to the right:
		display: flex;
		justify-content: space-between;

		span.caption {
			margin-right: 1ch;
		}

		span.value {
			text-align: right;
		}
	}	

	.details-space {
		content: '';
		margin: 1ex 0;
	}

	hr {
		border: none;
		border-top: 0.5px solid colors.$aside;
	}
}

aside.details[data-show] {
	display: block;
}