@use 'sass:color';

// This stylesheet governs message-only briefings such as no-battle and no-agenda
$text-color: #ccffff;

p {
	grid-column: 1 / -1;
	text-align: center;
	color: darkgray;
	font-size: 30pt;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 5pt;
	position: relative;
	top: -100pt;

	color: $text-color;

	animation: 5s ease-in-out infinite alternate pulsate;
}

@keyframes pulsate {
	0% {
		color: $text-color;
	}
	60% {
		color: $text-color;
		transform: scale(100%);
		filter: none;
	}
	100% {
		transform: scale(101%);
		color: color.change($text-color, $lightness: 100%);
		filter: drop-shadow(0 0 2pt $text-color);
	}
}

#briefing {
	background-color: transparent;
	outline: none;
	justify-content: center;
	align-content: center;
}