.topic-caption
	| #{caption}
//- Need to use !{} here instead of #{} to prevent the pug engine from escaping HTML tags
//- See https://pugjs.org/language/interpolation.html#string-interpolation-unescaped
.topic-content
	| !{html}