mixin details(ship, armor)
	aside.details.enemy(data-details-for=ship.getName())
		.details-title #{ship.getLabel()}
		
		- const viewbox = boundingBox(armor)
		
		.details-line
			+armorview(armor, classifier(ship)).armor

		.details-line
			ul
				li.overmatch You overmatch this part of the ship's armor
				li You do not overmatch this part of the ship's armor