@use '../colors';
@use '../fontsizes';
@use '_details';

.ownguns {
	border: 1px solid colors.$player;
	text-align: center;
	padding: 1ch 1ex;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	max-width: min(100%, 25rem);

	& > span {
		font-size: fontsizes.$large;
		font-weight: bolder;
	}
}

.ships {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin: 0 max(2rem, 15%);

	.ship {
		display: flex;
		align-items: end;
		justify-content: space-between;
		width: 100%;

		& > .label {
			color: colors.$enemy;			
		}

		& > .armor {
			max-width: 60%;
			max-height: 1.5rem;
		}
	}

	// Add some space between the classes
	@each $class in [ '.aircarrier', '.battleship', '.cruiser' ] {
		#{$class} + :not(#{$class}) { margin-top: 1rem; }
	}
}

.piece {
	stroke-width: 0.2%;

	stroke: colors.$warning-neutral;
	fill: colors.$warning-neutral-light;
}

.piece.overmatched {
	stroke: colors.$warning-severe;
	fill: colors.$warning-severe-light;
}