@use '../colors';
@use '../fontsizes';
@use '_details';
@use 'sass:map';

.ownguns {
	border: 1px solid colors.$player;
	text-align: center;
	padding: 1ex 1ch;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;

	& > span {
		font-size: fontsizes.$large;
		font-weight: bolder;
	}
}

.ships {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.ship {
		padding: 0.5rem 1.5rem;
		position: relative;
		max-height: 3rem;
		min-height: 2rem;
		margin: 0 auto;
		white-space: nowrap;

		& > .label {
			position: absolute;
		}

		& > .armor {
			display: inline-block;
			vertical-align: middle;
			svg {
				height: 100%;		
				width: 100%;
			}
		}
		
		& > .stats {
			display: inline-table;
			border-spacing: 1em 0;
			margin-left: 1rem;

			font-size: fontsizes.$small;

			&, * {
				margin: 0;
				padding: 0;
			}

			td:last-of-type {
				text-align: right;
			}		
		}
	}

	@each $class in [ 'aircarrier', 'battleship', 'cruiser', 'destroyer', 'submarine' ] {
		// Add the colored stripe indicating the ship's class
		.ship.#{$class} {
			border: 0.5px solid map.get(colors.$by-class, $class);
			border-left-width: 0.5ch;
		}

		// Add some space between the classes
		.#{$class} + :not(.#{$class}) {			
			margin-top: 1.5rem; 
		}
	}
}

.piece {
	stroke-width: 0.2%;
	fill-rule: evenodd;

	stroke: colors.$warning-neutral;
	fill: colors.$warning-neutral-light;
}

.piece.overmatched {
	stroke: colors.$warning-severe;
	fill: colors.$warning-severe-light;
}