$zoom: 0.25;
//@use 'details';

.axis {
	stroke: black;
	stroke-width: $zoom;

	text {
		font-size: calc($zoom * $small);
		fill: black;
		stroke: none;
	}

	&.range text {
		dominant-baseline: hanging;
		text-anchor: middle;
	}

	&.time text {
		dominant-baseline: middle;
		text-anchor: left;
	}
}

.grid {
	fill: none;
	stroke-width: $zoom;	
	stroke: lightgray;
	stroke-dasharray: 2 1;
}

.radar {
	fill: none;
	text {
		stroke: none;
		fill: black;
		font-size: calc($small * $zoom);
	}

	.base {

	}
	.max {
		stroke-dasharray: 0.75 1.25;
		stroke-dashoffset: 1.25;
	}

	&.ally {
		stroke: $background-color-ally;
	}

	&.enemy {
		stroke: $background-color-enemy;
	}

	&.player {
		stroke: $background-color-player;	
	}	
}

// Styling for the stealth warning indicator and details
// $stealthwarn-color: goldenrod;
$stealthwarn-color-moderate: goldenrod;
$stealthwarn-color-severe: red;

.label {
	position: absolute;

	.ship {
		background-color: white;
		padding: 0.1ex 0.1ch;
		
		&.ally {
			color: $background-color-ally;
		}

		&.enemy {
			color: $background-color-enemy;

			&[class*="stealthwarn"]::after {
				content: "\e063"; // warning
				font-family: "dripicons-v2";
				margin-left: 0.25ch;
			}

			&.stealthwarn-moderate::after {
				color: $stealthwarn-color-moderate;
			}

			&.stealthwarn-severe::after {
				color: $stealthwarn-color-severe;
			}
		}

		&.player {
			color: $background-color-player;
		}	
	}
}

aside.details.enemy {
	.stealthwarn-moderate {
		color: $stealthwarn-color-moderate;
		font-weight: bold;
	}
	.stealthwarn-severe {
		color: $stealthwarn-color-severe;
		font-weight: bold;
	}
}

.no-radars {
	color: slategray;
	font-size: $large;
}