$zoom: 0.25;

.axis {
	stroke: black;
	stroke-width: $zoom;

	text {
		font-size: calc($zoom * $small);
		fill: black;
		stroke: none;
	}

	&.range text {
		dominant-baseline: hanging;
		text-anchor: middle;
	}

	&.time text {
		dominant-baseline: middle;
		text-anchor: left;
	}
}

.grid {
	fill: none;
	stroke-width: $zoom;	
	stroke: lightgray;
	stroke-dasharray: 2 1;
}

.radar {
	fill: none;
	text {
		stroke: none;
		fill: black;
		font-size: calc($small * $zoom);
	}
}

.ally {
	stroke: $background-color-ally;
	color: $background-color-ally;
}

.enemy {
	stroke: $background-color-enemy;
	color: $background-color-enemy;
}

.player {
	stroke: $background-color-player;	
	color: $background-color-player;
}

.label {
	position: absolute;
}

.ship {
	background-color: white;
	padding: 0.1ex 0.1ch;
}
// Styling for the stealth warning indicator and details
// $stealthwarn-color: goldenrod;
$stealthwarn-color-moderate: goldenrod;
$stealthwarn-color-severe: red;

.enemy[class*="stealthwarn"]::after {
	content: "\e063"; // warning
	font-family: "dripicons-v2";
	margin-left: 0.25ch;
}

.enemy.stealthwarn-moderate::after {
	color: $stealthwarn-color-moderate;
}

.enemy.stealthwarn-severe::after {
	color: $stealthwarn-color-severe;
}

.no-radars {
	color: slategray;
	font-size: $large;
}