@use '../colors';
@use '../fontsizes';
@use '@sass-fairy/list';
@use 'notch' as *;
@use 'sass:meta';
@use 'sass:string';

.ship {	
	display: flex;
	align-items: center;
	margin: 1ex 0;

	.label {
		white-space: nowrap;
		// Do not grow. Do not shrink. Base width is clamp(6ch, 15%, 15ch).
		flex: 0 0 clamp(6ch, 18%, 15ch);
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	& > div:only-of-type {
		// Allow growth. Do not shrink. Base width is auto.
		flex: 1 0 auto;
	}

}

.shipbar {
	@include colors.teamcolor-background;

	display: inline-block;
	position: relative;
	padding: 1pt 0;

	clip-path: polygon(
		0 0,
		#{list.map($subdivisions, meta.get-function('notch'), "top")},
		100% 0,
		100% 100%,
		#{list.map(list.reverse($subdivisions), meta.get-function('notch'), "bottom")},
		0 100%
		);

	& > .comparison {
		position: absolute;
		top: 0;
		height: 100%;

		border-left: 2px dotted white;
		font-size: fontsizes.$verysmall;
		font-weight: 400;
		color: white;
		padding-left: 0.33ch;

		span {
			// Center vertically:
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.player .shipbar .comparison {
	// border-left-style: solid;
	border-left-color: black;
	border-left-width: 1px;
	// Hide the text for the player's own ship:
	width: 0;
	overflow-x: hidden;

	&:last-of-type {
		display: none;
	}
}

