doctype html
html
	head
		block head
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			title quartersbrief
			link(rel="icon" href="img/logo.svg" type="image/svg+xml")
			link(href='css/reset.css' rel='stylesheet')        
			link(href='quartersbrief.css' rel='stylesheet')        
	body
		header 
			div#branding
				img#logo(src='img/logo.svg')
				img#logotype(src='img/logotype.svg')

			#fullscreen(onclick='document.fullscreenElement ? document.exitFullscreen() : document.documentElement.requestFullscreen()')
				svg(viewBox="0 0 448 512")
					use#expand(href='img/interface.svg#expand')
					use#compress(href='img/interface.svg#compress')

		#briefing  

		script(type="module" src='js/init.js')