doctype html
html
	head
		block head
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			link(href='css/reset.css' rel='stylesheet')        
			link(href='quartersbrief.css' rel='stylesheet')        
	body
		header 
			div#branding
				img#logo(src='img/quartersbrief_64.png')
				div
					div World of Warships					
					div quartersbrief

			#fullscreen(onclick='document.fullscreenElement ? document.exitFullscreen() : document.documentElement.requestFullscreen()')

		#briefing  

		script(type="module" src='js/init.js')