doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='quartersbrief.css' rel='stylesheet')        
      script(src="https://code.jquery.com/jquery-3.6.0.slim.js")
  body
    header World of Warships Quarters Brief
      #fullscreen(onclick='document.fullscreenElement ? document.exitFullscreen() : document.documentElement.requestFullscreen()')
        i

    #briefing  

    script(type="module" src='js/init.js')