@use '../briefing/topics/fontsizes';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: "dripicons-v2";
 	src:url("font/dripicons-v2.eot");
	src:url("font/dripicons-v2.eot?#iefix") format("embedded-opentype"),
		url("font/dripicons-v2.woff") format("woff"),
		url("font/dripicons-v2.ttf") format("truetype"),
		url("font/dripicons-v2.svg#dripicons-v2") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "quartersbrief";
 	src:url("font/quartersbrief.eot");
	src:url("font/quartersbrief.woff") format("woff"),
		url("font/quartersbrief.ttf") format("truetype"),
		url("font/quartersbrief.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

$textcolor: midnightblue;

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: fontsizes.$normal;
	background-color: white;

	&:fullscreen {
		padding: 1ex 1ch;
	}
	&::backdrop {
		background-color: white;
	}
}

header {
	font-style: italic;
	font-size: fontsizes.$huge;
	font-weight: 600;
	color: $textcolor;
	letter-spacing: 0.3ch;

	#fullscreen {
		transition: all 1s;
		border-radius: 50%;
		box-shadow: 1pt 1pt 2pt $textcolor;

		cursor: pointer;
		float: right;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 2pt;

		&:hover {			
			background-color: $textcolor;
			color: white;
		}
		& > span {
			margin: 8pt;
			font-family: 'quartersbrief';
			font-weight: normal;
			font-size: 75%;
			font-style: normal;
			width: 1em;
			text-align: center;
		}
	}
}

#briefing {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.topic {
	padding: 5% 8%;
}

.topic-caption {
	text-align: center;
	text-decoration: underline;
	font-size: 140%;
	font-weight: bold;
	letter-spacing: 0.1ch;
	margin-bottom: 28pt;
}

.topic-content {
	position: relative;
}