@use '../briefing/topics/fontsizes';
@use 'sass:selector';
$fa-font-path: 'font';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
	font-family: "dripicons-v2";
 	src:url("font/dripicons-v2.eot");
	src:url("font/dripicons-v2.eot?#iefix") format("embedded-opentype"),
		url("font/dripicons-v2.woff") format("woff"),
		url("font/dripicons-v2.ttf") format("truetype"),
		url("font/dripicons-v2.svg#dripicons-v2") format("svg");
	font-weight: normal;
	font-style: normal;
}

$textcolor: midnightblue;
$padding-horizontal: 20pt;
$padding-vertical: 10pt;

:root {
	scroll-behavior: smooth;
}

::backdrop {
	background-color: white;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: fontsizes.$normal;
	background-color: white;
	// Override browser default:
	margin: 0; 
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	font-style: italic;
	font-size: fontsizes.$huge;
	font-weight: 600;
	color: $textcolor;
	letter-spacing: 0.3ch;
	display: flex;
	justify-content: space-between;
	flex: 0 0 fit-content;

	margin: $padding-vertical $padding-horizontal; // Since font-size is 200%, need to halve 

	#fullscreen {
		cursor: pointer;
		border-radius: 50%;
		box-shadow: 1pt 1pt 2pt $textcolor;
		transition: all 1s;
		
		letter-spacing: 0;
		font-weight: normal;
		font-style: normal;
		font-size: fontsizes.$small;
		padding: 10pt;
		
		width: 1em;
		height: 1em;
		text-align: center;

		margin-right: 2pt;		

		&:hover {		
			background-color: $textcolor;
			color: white;
		}

		// Display "expand" icon
		@include fa-icon-solid($fa-var-expand);
		// When the body is in fullscreen mode, change the icon to "compress"
		@at-root #{selector.nest(':fullscreen', &)} {
			@include fa-icon-solid($fa-var-compress);
		}
	}
}

#briefing {
	padding: $padding-vertical $padding-horizontal;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5% max(4ch, 4%);
	overflow-y: scroll;
	
	@if scrollSnap() {
		scroll-snap-type: y mandatory;

		// Switch to proximity snapping on smaller devices
		@media(max-height: 600px) {
			scroll-snap-type: y proximity;
		}
	}


	flex: 1;
}

.topic {
	scroll-snap-align: start;
}

.topic-caption {
	text-align: center;
	text-decoration: underline;
	font-size: 140%;
	font-weight: bold;
	letter-spacing: 0.1ch;
	margin-bottom: 28pt;
}

.topic-content {
	position: relative;
}